body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.main h1{
    text-align: center;
    font-size: 50px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.container img {
    width: 40%;
    border-radius: 5px 0 0 5px;
}

.container form {
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container label,
.container input,
.container p {
    display: block;
    margin-bottom: 10px;
}
.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}
